.achievements-container {
  background-color: #1b2838;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.header-bar {
  background-color: #2a475e;
  padding: 2rem 0;
  max-width: 75rem;
  min-width: 20rem;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header-bar {
    padding: 10px 0; /* less padding for screens smaller than 768px */
  }
}

.user-picture {
  border-radius: 25px;
  position: relative;
  max-width: 45%;
  height: auto;
  padding-left: 1rem;
}

.user-picture img:hover {
  box-shadow: 0 0 10px 5px #00f7ff;
}

.username {
  font-size: 2.3rem;
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .user-picture img {
    width: 50px;
    height: 50px;
  }

  .username {
    font-size: 1.2rem;
    margin-left: 0.4rem;  /* Reduced font size for small screens */
  }
}

.achievement-header {
  background-color: #2a475e;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.achievement-text-container,
.achievement-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievement-text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.achievement-number,
.achievement-text {
  font-size: calc(min(max(10px + 1.2vw, 14px), 20px));
  color: #ffffff;
  white-space: nowrap;  /* Prevents text from wrapping */
}

.achievement-number {
  font-weight: bold;
}

.achievement-text {
  font-weight: normal;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .achievement-card {
    margin-right: 1rem;  /* Reduced font size for small screens */
  }
  .achievement-number,
  .achievement-text {
    font-size: 0.8rem;
  }
}