/* AchievementCard.css */

.achievement-card {
  background-color: #1b2838;
  border: 1px solid #16202d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.achievement-img {
  border-radius: 50%;
  border: 1px solid #16202d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.achievement-text-container {
  color: #ffffff;
}

.achievement-name {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.achievement-description {
  font-size: 0.85rem;
  color: #66c0f4;
}

.achievement-status {
  font-size: 0.85rem;
  color: #66c0f4;
}

.achievement-unlock-percentage {
  font-size: 0.85rem;
  color: #66c0f4;
}

/* For smaller screens */

@media screen and (max-width: 600px) {
  .achievement-img {
    width: 30px;
    height: 30px;
  }

  .achievement-name,
  .achievement-description,
  .achievement-status,
  .achievement-unlock-percentage {
    font-size: 0.81rem;
  }
}