/* AchievementContainer styles */

.achievements-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.back-button {
  background-color: transparent;
  margin-top: 1.4rem;
  border: none;
  cursor: pointer;
  margin-right: 0.3125rem;
}

.back-button:hover {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.arrow-icon {
  width: 2.8rem;
  height: 2.8rem;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.4rem;
}

.search-input-container {
  position: relative;
}

.search-input {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.12rem;
}

.search-input-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  color: #aaa;
  border: none;
}

.search-field {
  display: flex;
  align-items: center;
  border: none;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
}

.filter-input-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  max-width: 150px;
  flex-shrink: 1;
}

.filter-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/icons/arrow-down.svg) no-repeat right, #2a475e;
  background-size: 20px;
  background-position: right 10px center;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 33px 8px 8px;
  font-size: 1rem;
}

.filter-select:hover, .filter-select:focus {
  background-color: #518abb;
  outline: none;
}

.filter-icon {
  margin-right: 15px;
  margin-left: 10px;
  filter: invert(100%);
}

.filter-group {
  display: flex;
  align-items: center;
}

.filter-section {
  display: flex;
  align-items: center;
  margin: 10px;
}

.filter-button {
  display: flex;
  align-items: center;
  background-color: #2a475e;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-left: 0.25rem;
  font-size: 1rem;
}

.filter-button:hover {
  background-color: #518abb;
}

.filter-icon {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  filter: invert(100%);
}

.filter-item {
  position: relative;
}

.achievement-container {
  overflow-y: scroll;
  max-height: 70vh;
}

/* For mobile devices, might want to specify one max-width later*/

@media screen and (max-width: 800px) {
  .search-input {
    width: 17.2rem;
    font-size: 1.03rem;
  }
}

@media screen and (min-width: 768px) {
  .filter-container {
    justify-content: flex-end;
  }
  .filter-section {
    margin: 0;
  }
  .filter-select {
    width: 100%;
    margin-top: 5px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 700px) {
  .filter-group {
    flex-direction: column;
  }

  .filter-container {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .filter-icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }

  .filter-select {
    width: 30%;
    margin-top: 5px;
    font-size: 1.1rem;
  }
  .search-input {
    width: 16.8rem;
    font-size: 1.1rem;
  }

  .search-input-container {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 680px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 400px) {
  .filter-select {
    width: 20%;
    font-size: 0.8rem;
  }
}