/* Login page footer styles */

.footer {
  width: 100%;
  color: #c7d5e0;
  text-align: center;
  padding: 10px 0;
}

.year-text {
  margin: 10px;
}

.git-link {
  margin-top: 1.2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}