/* GameCard.css */

.game-card {
  background-color: #1b2838;
  border: 1px solid #16202d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 125px;
}

.game-img {
  border-radius: 50%;
  border: 1px solid #16202d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 65px;
  height: 65px;
}

.game-text-container {
  color: #ffffff;
}

.game-name {
  font-size: 1.7rem;
  font-weight: 700;
  padding-top: 1.7rem;
  padding-left: 0.5rem;
}

.last-played {
  font-size: 1.1rem;
  color: #ccc;
  padding-left: 0.5rem;
  padding-bottom: 0.6rem;
  margin-top: -1rem;
}

.achievement-total-container {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66c0f4;
  color: #1b2838;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* For smaller screens */

@media screen and (max-width: 600px) {
  .achievement-total-container {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}

.game-achievement {
  font-size: 1.2rem;
  color: #66c0f4;
  padding-left: 0.5rem;
  margin-top: -0.5rem;

}

.game-trophy {

}

.trophy-img {

}

/* For smaller screens */

@media screen and (max-width: 600px) {
  .game-img {
    width: 52px;
    height: 52px;
  }

  .game-name {
    font-size: 1.03rem;
  }

  .last-played {
    font-size: 0.9rem;
  }

  .game-achievement {
    font-size: 1rem;
  }

  .trophy-img {
    width: 15px;
    height: 15px;
  }
}