/* Login page styles (app.js) */

body {
  background: #1b2838;
}

.main-content {
  min-height: calc(90vh - 60px);
}

.container {
  margin-top: 15%;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: #66c0f4;
  font-family: 'Roboto', sans-serif;
}

.text-center {
  text-align: center;
  padding-bottom: 1.5rem;
}

.user {
  padding-bottom: 0.4rem;
}

.card {
  background: #2a475e;
  border-radius: 10px;
  border: none;
}

.form-control-user {
  color: #c7d5e0;
  background: #16202d;
  border-color: #66c0f4;
  padding: 15px;
}

.btn-user {
  color: #66c0f4;
  border-color: #66c0f4;
  background: #16202d;
  padding: 20px;
  font-size: 1.2em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-user:hover {
  color: #16202d;
  border-color: #66c0f4;
  background: #66c0f4;
}

.btn-user:focus {
  color: #16202d;
  border-color: #66c0f4;
  background: #66c0f4;
  box-shadow: none;
}

.text-dark {
  color: #c7d5e0 !important;
}
